@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&family=Space+Grotesk:wght@300&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 550;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: rgb(131, 33, 134);
    
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    
    
}
.a {
    border-radius: 10px;
}